.majenta-color{
    color: rgb(117, 31, 197);
}
.link-button{
    color: whitesmoke;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 6px;
    font-weight: 500;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    padding-top: 40px;
  
}
.half-width img{
    width: 80%;
}
section{
    display: flex;
     margin-bottom: 120px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    color: rgb(85, 85, 85);
}
p{
    font-size: 20px;
}
.about-us{
    background-image: url(images/shapes/Frame\ 59.jpg);
    padding-top: 10px;
}
.orange-color{
    color: orange;
}
.food-item{
    width: 20%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 30px gray;
}
