.cuisines-area{
    text-align: center;

}
.majenta-color{
    color: rgb(117, 31, 197);
}
.link-button{
    color: whitesmoke;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 6px;
    font-weight: 500;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    padding-top: 40px;
  
}
.half-width img{
    width: 80%;
}
section{
    display: flex;
     margin-bottom: 120px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    color: rgb(85, 85, 85);
}
p{
    font-size: 20px;
}
.about-us{
    background-image: url(images/shapes/Frame\ 59.jpg);
    padding-top: 10px;
}
.orange-color{
    color: orange;
}
.food-item{
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 20px gray;
    border-radius: 20px;
}
.image-item{
 
    width: 300px;
    height: 300px;
   
   
    padding: 10px 10px ;
}
.item-cart img{
    align-items: center;
    border-radius: 10px;

}
.recipe-name{
    text-align: center;
    padding-left: 100px;
}
.recipes{
    padding-left: 300px;
}
.subscriber-score{
    display: flex;
    align-items: center; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 40px;
    margin-left: 180px;
}
.thousand-score{
    width: 300 px;
    height: 180px;
    text-align: center;
  
}
